<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="angular.min.js"></script>
	<script>
		var m = angular.module('app',[])
			.controller('main', ['$rootScope','$scope', function($rootScope,$scope){
				$scope.$on('click',function(ev,b,c){
					$scope.b = 1;
					console.log(ev,b,c)
				})
			}])
			.controller('sub', ['$scope', function($scope){
				$scope.click = function(){
					this.$emit('click',$scope.username);
				}
			}])
	</script>
</head>
<body>
	<div ng-controller="main">
		<div ng-controller="sub">
			username: <input type="text" ng-model="username">
			<input type="button" ng-click="click()">
		</div>
	</div>		
</body>
</html>