<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="angular.min.js"></script>
	<script>
		angular.module('app',[])
			.controller('c1',['$scope',function($scope){
				$scope.b =1;
				$scope.$watch('b',function(newValue,oldValue){//一加载就会触发
					console.log(newValue,oldValue)
				});
			}])
	</script>
</head>
<body ng-app="app" ng-controller="c1">
	<input type="text" ng-model="a" ng-value="cc">{{a}}
	<a ng-click="b=2">click</a>{{b}}
	<a ng-click="b=3">click</a>{{b}}
</body>
</html>