<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="angular.min.js"></script>
	<script>
		angular.module('app',[])
			.controller('c1',['$scope','$timeout',function($scope,$timeout){
				$scope.person = {
					name:'ly'
				}
				$timeout(function(){
					var a = {sex:false}
					angular.extend($scope.person,a)
				},1000)

			}])
			.directive('ct',function(){
				return {
					require:'ngModel',
					link:function(scope,element,attrs,ngModel){
						// ngModel.$parsers.push(function(val){
						// 	return val+'000'
						// });
						ngModel.$formatters.push(function(val){
							return val+''
						})
					}
				}
			})
		
	</script>
</head>
<body ng-app="app">
	<div ng-controller="c1">
		<input type="text" ng-model="person.name" ct>{{person|json}}
		<select name="" id="" ng-model="person.sex" ct>
			<option value="false">male</option>
			<option value="female">female</option>
		</select>
	</div>
</body>
</html>