<ion-view view-title="全球喵喵" hide-tabs="true" deactivate='true' cache-view="">
    <ion-content>
        <!-- 成功-->
        <div class="h-page">
            <div class="h-pay-no-succ">
                <div class="h-pay-box clearfix">
                    <div class="fl h-pay-b-left">
                        <img src="css/images/success.jpg" alt="" width="70">
                    </div>
                    <div class="fl h-pay-b-right">
                        <p>恭喜你,付款成功!</p>
                        <p>实付款:<span>¥{{moneypaid}}</span></p>
                    </div>
                </div>
            </div>
            <div class="h-pay-main" ng-if="clearanceFlag">
                <p>据中华人民共和国海关总署规定：个人物品类进出境
                    快件报关时，应向海关提交收件人身份证件影印件。
                </p>
                <p>清关认证完成后，喵喵才能完成通关为您派送哦！</p>
                <div style="overflow: hidden">
                    <a ng-href="/app/clearance">
                    	<button>立即认证</button>
                    </a>
                </div>
                <div class="h-pos-abs">提示<i></i></div>
            </div>
            <div class="h-cuss-a clearfix" ng-class="{hide:navHide}">
                <a ng-href="app/user/order/lists/0">查看订单</a>
                <a ng-href="app/index">继续购物</a>
            </div>
        </div>
    </ion-content>
</ion-view>