<ion-view view-title="全球喵喵" hide-tabs="true" deactivate='' cache-view="false">

    <ion-content>
        <!-- 成功-->
        <div style="overflow: hidden;">
            <div class="h-success-r">
                <img src="css/images/success.jpg" alt="" width="70">
            </div>
            <p class="h-success-p">您的清关认证信息已提交成功！</p>
        </div>
    </ion-content>
    <div class="h-pay-footer h-qgr-footer">
        <div class="clearfix h-app-sale-footer-box">
            <a href="/app/user/order/lists/0" class="fl">查看订单</a>
            <a href="/app/index" class="fr">继续购物</a>
        </div>
    </div>
</ion-view>