<ion-view view-title="我的售后" hide-tabs="false" deactivate='true' cache-view="false">
	<ion-content>

		<div class="h-page">
			<div class="h-color-F5">
				<ul class="h-service-box">
					<li class="h-service-box-list" ng-repeat="service in services" ng-click="detail(service.status,service.orders_detail_id,service.express_status)">
						<div class="h-order-num">
							订单号:<span>{{service.order_number}}</span>
							<p ng-if="service.status == 600">等待审核
							</p>
							<p ng-if="service.status == 601 && service.express_status == 0">请退货
							</p>
							<p ng-if="service.status == 602 || (service.status == 601 && service.express_status == 1)">退货中
							</p>
							<p ng-if="service.status == 700 || service.status == 701">退款中
							</p>
							<p ng-if="service.status == 702 || service.status == 603">退款完成
							</p>
						</div>
						<div class="fl main-gwc-r h-main-gwc-width">
							<div class="clearfix main-gwc-r-t">
								<img src="{{service.main_image}}" alt="" class="fl"width="90" height="90">
								<div class="fr main-gwc-r-b">
									<p>{{service.name}}</p>
									<p class="clearfix p2"><span class="fl ss">￥{{service.price/100}}</span><span class="fr">x{{service.number}}</span></p>

								</div>
							</div>
						</div>
						<div class="h-total">
							<p>合计:<span class="num">￥{{service.price * service.number/100}}</span></p>
						</div>
					</li>
				</ul>
			</div>

		</div>

	</ion-content>
</ion-view>